@import "mixins";

.here-u-get {@include flex-center;}
.here-u-get-container {padding-left: 10px; padding-right: 10px;}

.here-u-get-article-post__text-title {
    @include montserrat-400;
    color: #323232;
    font-size: 16px;
    text-align: center;
}

.here-u-get-article-post__text-content {
    @include lato-400;
    color: #848E97;
    font-size: 14px;
    text-align: center;
}

.here-u-get-header__text {
    color: #8D81AC;
    @include montserrat-700;
    text-align: center;
}

// ========== MOBILE OUTCOME ==========

.here-u-get {
    @media (min-width: 320px) and (max-width: 480px) {
        .here-u-get-header__text {font-size: 32px;}
        .here-u-get-header__text::after { content: ">"; font-size: 32px;}
        .here-u-get-header__text::before { content: "<"; font-size: 32px;}

        .here-u-get-container, .here-u-get-article-container, .here-u-get-article-post {
            min-width: 320px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }
        .here-u-get-header {@include flex-center;}
        
        .here-u-get-article-container {height: calc(1143px - 138px); justify-content: space-between;}
        .here-u-get-article-post {height: 251px; justify-content: space-around;}

        .here-u-get-pic {min-width: 320px; display: flex; justify-content: flex-end; align-items: center;}
        .here-u-get-pic__content {width: 100%;}
    }
}

// ========== TABLET OUTCOME ==========

.here-u-get {
    @media (min-width: 481px) and (max-width: 992px) {
        .here-u-get-header__text {font-size: 42px;}
        .here-u-get-header__text::after { content: ">"; font-size: 42px;}
        .here-u-get-header__text::before { content: "<"; font-size: 42px;}

        .here-u-get-container {
            min-width: 481px;
            max-width: 992px;
        }

        .here-u-get-article-container {
            display: flex;
            flex-direction: column;
            max-height: 635px; 
        }

        .here-u-get-article-post {
            display: grid;
            grid-template-columns: 111px 10fr;
            justify-items: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .here-u-get-article-post__text {
            margin-left: 5px;
        }

        .here-u-get-article-post__text-title, .here-u-get-article-post__text-content {
            line-height: 21px;
            text-align: left;
            margin: 0;
        }

        .here-u-get-pic {min-width: 480px; display: flex; justify-content: flex-end; align-items: center;}
        .here-u-get-pic__content {min-width: 300px; max-width: 700px;}
    }
}

// ========== DESKTOP OUTCOME ==========

.here-u-get {
    @media (min-width: 993px) {
        @include flex-center;
        background-color: #F4F4F4;
        height: 700px;
        align-items: center;
        .here-u-get-header {width: 50%; flex-basis: 90px;}
        .here-u-get-header__text {font-size: 48px; margin: 0;}
        .here-u-get-header__text::after { content: ">"; font-size: 48px;}
        .here-u-get-header__text::before { content: "<"; font-size: 48px;}
        
        .here-u-get-container {
            background-color: #F4F4F4;
            width: 100%;
            max-width: 1200px;
            height: 700px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        
        .here-u-get-article-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 635px;
            width: 50%;
            order: -1;
        }

        .here-u-get-article-post {
            display: grid;
            grid-template-columns: 110px calc(100% - 110px);
            align-items: center;
            justify-items: center;
        }

        .here-u-get-article-post__text {
            margin-left: 5px;
        }

        .here-u-get-article-post__text-title, .here-u-get-article-post__text-content {
            line-height: 21px;
            text-align: left;
            margin: 0;
        }

        .here-u-get-pic {
            min-width: 300px;
            max-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .here-u-get-pic__content {min-width: 300px; max-width: 700px}
    }
}