
.rev-editor {
    display: flex;
}

.rev-editor-header__text {
    @include montserrat-700;
    text-transform: uppercase;
    color: #635C73;
    text-align: center;
}

.rev-editor-article__text {
    @include lato-400;
    color: #332233;
    text-align: center;
}

.rev-editor__marker-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
}
.rev-editor__marker-item {
    width: 150px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev-editor__marker-item-icon {
    width: 90px;
    height: 26px;
    background-color: #ebe8e8;
    display: flex;
    align-items: center;
    border: 1px solid #8f8f8f;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.rev-editor__marker-item-icon-title {
    margin: auto;
    font-size: 14px;
    @include montserrat-700;
}

.rev-editor__marker-item-number {
    width: 60px;
    height: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #8f8f8f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.rev-editor__marker-item-number-value {
    font-size: 14px;
    @include montserrat-700;
    margin: auto;
}

.rev-editor__marker-item-icon-title--eye::before { @include eye-icon; margin-right: 3px;}
.rev-editor__marker-item-icon-title--star::before { @include star-icon; margin-right: 3px;}
.rev-editor__marker-item-icon-title--fork::before { @include fork-icon; margin-right: 3px;}



// ========== MOBILE OUTCOME ==========

.rev-editor {
    @media (min-width:320px) and (max-width: 480px) {
        @include flex-col-container;
        .rev-editor-container {
            margin: auto;
            width: 320px;
            height: 473px;
            @include flex-col-container;
        }
        .rev-editor-header {margin: 0;}
        .rev-editor-article {margin: 0 10px 15px}
        .rev-editor-header__text {font-size: 26px;}
        .rev-editor-article__text {font-size: 14px;}
    }
    
}

// ========== TABLET OUTCOME ==========

.rev-editor {
    @media (min-width: 481px) and (max-width: 992px) {
        @include flex-col-container;
        .rev-editor-container {
            margin: auto;
            min-width: 481px;
            max-width: 768px;
            height: 431px;
            @include flex-col-container;
        }


        .rev-editor-header, .rev-editor-article {margin-bottom: 20px;}
        .rev-editor-article, .rev-editor-header, .rev-editor__marker-container {padding: 10px;}
        .rev-editor-header__text {font-size: 42px; margin: 0;}
        .rev-editor-article__text {font-size: 21px; margin: 0;}
        .rev-editor__marker-item {height: 26px;}
    }
}

// ========== DESKTOP OUTCOME ==========

.rev-editor {
    @media (min-width: 993px) {
        @include flex-col-container;
        .rev-editor-container {
            margin: auto;
            min-width: 993px;
            max-width: 1200px;
            height: 391px;
            @include flex-col-container;
        }
        .rev-editor-header, .rev-editor-article {margin-bottom: 20px;}
        .rev-editor-article {width: 861px;}
        .rev-editor-header__text {font-size: 54px; margin: 0;}
        .rev-editor-article__text {font-size: 21px; margin: 0;}
        .rev-editor__marker-item {height: 26px;}
    }
}