@import "./reset";
@import "./header";
@import "./header-bg";
@import "./here-is-what-you-get";
@import "./people-are-talking";
@import "./vars";
@import "./icons";
@import "./mixins";
@import "./body";
@import "./revolutionary-editor";
@import "./here-is-what-you-get";
@import "./fork-subscription-pricing";


.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;


  @media (min-width: 320px) {
    width: 320px;
  }
  @media (min-width: 481px) {
    width: 100%;
  }

  @media (min-width: 993px) {
    width: 100%;
  }



}

